#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_configure:
	CC=gnatgcc ./configure --prefix=/usr --with-llvm=/usr/lib/llvm-3.5

override_dh_installchangelogs:
	dh_installchangelogs -k NEWS

override_dh_auto_test:
	#disable test
