#!/usr/bin/make -f
# -*- makefile -*-

# Directory where we will look for an installed gcc-4.8-source package.
GCC_SOURCE_DIR = /usr/src/gcc-4.8

# Expect to build a GHDL source distribution named ghdl-$(GHDL_VERSION).
GHDL_VERSION = 0.30dev

DEB_BUILD_GNU_TYPE = $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE  = $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

# Note: --enable-targets=all is required to avoid problems with multiarch.
GCC_CONFIGURE_OPTS = \
  --build=$(DEB_BUILD_GNU_TYPE) \
  --host=$(DEB_HOST_GNU_TYPE) \
  --prefix=/usr/lib/ghdl \
  --with-system-zlib \
  --enable-languages=vhdl \
  --enable-bootstrap=no \
  --disable-shared \
  --disable-libmudflap \
  --enable-targets=all \
  --disable-libquadmath \
  --disable-libssp \
  --disable-libgomp

DESTDIR=$(CURDIR)/debian/ghdl

# Debian-specific patches must be applied to the upstream GHDL source.
# These patches are provided in debian/patches.
patch: patch-stamp
patch-stamp:
	dh_testdir
	QUILT_PATCHES=debian/patches quilt --quiltrc /dev/null push -a
	touch patch-stamp

# The GHDL upstream snapshot is not yet prepared for compilation.
# It contains a script ghdl/translate/gcc/dist.sh which is executed
# here to build a source distribution archive.
# This must be done AFTER Debian-specific patches have been applied.
ghdl-$(GHDL_VERSION).tar.bz2: patch-stamp
	dh_testdir
	( cd ghdl/translate/gcc && \
          ./dist.sh sources && \
          mv ghdl-$(GHDL_VERSION).tar.bz2 ../../.. )
	# touch the file to get a high resolution timestamp, otherwise it will be rebuilt without need
	touch ghdl-$(GHDL_VERSION).tar.bz2

# Compiling GHDL requires the sources of gcc-4.8.
# 
# The Debian package gcc-4.8-source is used to provide the GCC sources.
# The GCC source tree is extracted into a new subdirectory "gcc" in the
# unpacked source package.  All Debian patches for GCC are then applied.
#
# Finally, the newly created GHDL source distribution is extracted as
# a subdirectory in the GCC source tree "gcc/src/gcc/vhdl".
#
setup: setup-stamp
setup-stamp: ghdl-$(GHDL_VERSION).tar.bz2
	dh_testdir
	# extract GCC source
	mkdir -p gcc
	ln -sf $(GCC_SOURCE_DIR)/gcc*.tar* gcc
	cp -a $(GCC_SOURCE_DIR)/debian gcc
	# apply Debian patches to GCC
	$(MAKE) -C gcc -f debian/rules patch
	# extract GHDL source
	( cd gcc/src/gcc && tar xjf ../../../ghdl-$(GHDL_VERSION).tar.bz2 --strip-components 1 ghdl-$(GHDL_VERSION)/vhdl )
	rm -rf gcc/build
	touch setup-stamp

configure: configure-stamp
configure-stamp: setup-stamp
	dh_testdir
	mkdir -p gcc/build
	(cd gcc/build && ../src/configure $(GCC_CONFIGURE_OPTS))
	touch configure-stamp

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE) -C gcc/build CFLAGS="-O"
	touch build-stamp

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_prep
	$(MAKE) -C gcc/build install DESTDIR=$(DESTDIR)
	#install -D debian/ghdl.wrapper $(DESTDIR)/usr/bin/ghdl
	rm -r $(DESTDIR)/usr/lib/ghdl/include
	rm -r $(DESTDIR)/usr/lib/ghdl/share/man
	rm -r $(DESTDIR)/usr/lib/ghdl/share/info
	find $(DESTDIR)/usr/lib/ghdl -type f -name '*.la' -delete
	touch install-stamp

clean:
	dh_testdir
	dh_testroot
	rm -rf gcc/build
	rm -f gcc/src/gcc/vhdl/libraries/*.v87 gcc/src/gcc/vhdl/libraries/*.v93
	dh_clean 

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman
	dh_installinfo
	dh_lintian
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: setup patch configure build install clean binary-indep binary-arch binary

